<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="/webjars/bootstrap/5.0.0/css/bootstrap.min.css">
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="genres" th:content="${genres}"/>
    <title>Список жанров</title>
</head>
<body>
<div>
    <div th:replace="navbar::navbar"></div>
</div>
<div><h1>Список жанров:</h1></div>
<form th:action="@{/genre}" th:method="post" action="genre-list.html" id="addGenreForm">
    <div class="input-group mb-3 w-25">
        <input class="form-control" placeholder="input your genre" type="text" name="name" id="genre-name"/>
        <button class="btn btn-primary btn-sm" type="submit" id="saveGenre">Добавить</button>
    </div>
</form>
<div>
    <table class="main-table">
        <thead>
        <tr>
            <th>Жанр</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody id="table-genres">
        </tbody>
    </table>
    <script th:src="@{/js/genre-list.js}"></script>
</div>
</body>
</html>