<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="survey" class="ru.otus.homework.domain.Survey">
    <constructor-arg name="name" value="survey.csv"/>
</bean>

 <bean id = "surveyDao" class="ru.otus.homework.dao.SurveyDaoImpl">
    <constructor-arg name="survey" ref="survey"/>
 </bean>
 <bean id = "surveyService" class="ru.otus.homework.service.SurveyServiceImpl">
     <constructor-arg name="surveyDao" ref="surveyDao"/>
 </bean>

</beans>