<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <id>central</id>
            <name>Mirror of Central</name>
            <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/central/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
		<mirror>
            <id>thirdparty</id>
            <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/thirdparty</url>
            <mirrorOf>thirdparty.repo</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>corp-snapshots</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/corp-snapshots</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>corp-releases</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/corp-releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>sbt-qa_snapshot</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/sbt-qa_snapshot/</url>
                </repository>
                <repository>
                    <id>sbt-qa_release</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/sbt-qa_release/</url>
                </repository>
				<repository>
                    <id>sbt-qa_group</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/groups/sbt-qa_group/</url>
                </repository>
                <repository>
                    <id>sbt-qa_tools</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/repositories/sbt-qa_release/ru/sbrf/qa/tools</url>
                </repository>
            </repositories>
			<pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://nexus.sigma.sbrf.ru:8099/nexus/content/groups/public</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>


    <servers>
		<server>
            <id>central</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
        <server>
            <id>internal</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
        <server>
            <id>sbt-qa_snapshot</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
        <server>
            <id>sbt-qa_release</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
		<server>
            <id>sbt-qa_group</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
        <server>
            <id>sbt-qa_tools</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
        <server>
            <id>corp-releases</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
        <server>
            <id>corp-snapshots</id>
            <username>19651945</username>
            <password>FcnjyvfhnbyHfgbl000</password>
        </server>
    </servers>
</settings>